
<div class="row">
    <div class="col-xs-12 ADSLMobileHeader">
        <div class="ADSLMobileLogo">
            &nbsp;
        </div>
        <h1></h1>
    </div>
</div>


<div class="container">

    <div class="row">
        <div class="col-sm-12 ADSLHeader">

            <p>
               Login
            </p>

        </div>
    </div>
    <div class="row">

    <div class="col-xs-12">
    <img src="img/login-icon.jpg" class="center loginicon">
    </div>

        <div class="col-xs-8 col-xs-offset-2 ErrorMsg">
            <!--Alert Danger-->
            <div class="alert alert-danger loginBtn">
                <strong> invalid User ID or Password please check again </strong>
            </div>
            <!--End of Alert Danger-->
        </div>

    <div class="col-xs-12 col-md-4 col-md-offset-4">
    <input type="text" class="form-control name" ng-model="user.MobileNum" placeholder="Enter your User ID">
    </div>

    <div class="col-xs-12 col-md-4 col-md-offset-4">
    <input type="text" class="form-control name pw" ng-model="user.password" placeholder="Enter your Password">
    </div>

    <div class="col-xs-12 col-md-4 col-md-offset-4 loginBtn">
    <button type="button" class="btn btn-info btn-block" ng-click="submit()" >Login</button>

    </div>




</div>

<br />
